# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Vite cache
client/node_modules/
client/dist/
client/.vite/

# Server build/cache
server/node_modules/
server/dist/

# VS Code settings directory (keep if you want)
.vscode/
